<!doctype html>
<html>
<head>
    <title>Flaskr</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fontello.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-te-1.4.0.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/config.js') }}" type="text/javascript"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <header class="">
        <div class="logo">
            <a href="{{ url_for('home') }}"></a>
        </div>
        {% include 'blocks/top_menu.html' %}
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
<body>
<html>
