body                    {background:#e1e1e1;}


header                  {position:relative; height:200px;}

header .logo            {z-index:1; position:relative; top:10px; left:20px; height:144px; width:216px; background:url("/static/img/logo.jpg") no-repeat; box-shadow:inset 0px 0px 15px 5px #777; -webkit-border-radius:0px 15px 0px 15px; -moz-border-radius:0px 15px 0px 15px; border-radius:0px 15px 0px 15px;}
header .logo a          {position:absolute; top:0px; left:0px; width:100%; height:100%;}
header .logo:hover      {opacity:0.7;}

header .menu-top                {position:absolute; top:55px; height:60px;}
header .menu-top .item          {padding:0.5rem;}
header .menu-top .item span     {font-size:22px; line-height:24px; color:#e1e1e1;}

.content                {}

.home                   {}





/* jQuery TE */
.jqte_tool .jqte_tool_label {height:25px !important;}